.font-roboto {
    font-family: var(--formalFont1)
}

.info-card-flex-row-reverse {
    flex-direction: row-reverse!important;
}

.right-500px{
    right: 500px!important;
}

.left-auto{
    left: auto!important;
}